%table.table
  %h5.grey Ausweis Zusatzstoffe folgender Lebensmittel:
  %tr
    %td
      %h6.grey
        .row
          .col-sm-12
            Kochschinken - 1, 3, 4
        .row
          .col-sm-12
            Salami Milano - 1, 2, 3
        .row
          .col-sm-12
            Salami Piccante - 1, 2, 3
        .row
          .col-sm-12
            Oliven - 5, 6, 7
        .row
          .col-sm-12
            Coca Cola, Bionade Cola, Fritz Cola - 8, 9, 13
        .row
          .col-sm-12
            Fanta - 9, 10, 13, 15
        .row
          .col-sm-12
            Soda - 4, 13
        .row
          .col-sm-12
            Chinotto, Sprite - 13
        .row
          .col-sm-12
            Bionade (außer Cola) - 11, 13
        .row
          .col-sm-12
            Nestea - 11
        .row
          .col-sm-12
            Wasser mit Kohlensäure - 13
        .row
          .col-sm-12
            Club Mate - 8, 11, 13
        .row
          .col-sm-12
            Alle Fritz-Getränke - 13
        .row
          .col-sm-12
            Fritz Apfelsaft, Zitrone, Apfel-Kirsch, Melone - 11
        .row
          .col-sm-12
            Fritz Orange - 9, 10, 15
        .row
          .col-sm-12
            Fritz Mischmasch - 8, 9, 10, 15

    %td
      %h6.grey
        .row
          .col-sm-12
            1 - E301 Natrium-L-Ascorbat
        .row
          .col-sm-12
            2 - E252 Kaliumnitrat
        .row
          .col-sm-12
            3 - E250 Natriumnitrit
        .row
          .col-sm-12
            4 - E407 Carrageen
        .row
          .col-sm-12
            5 - E330 Citronensäure
        .row
          .col-sm-12
            6 - E270 Milchsäure
        .row
          .col-sm-12
            7 - E300 Ascorbinsäure
        .row
          .col-sm-12
            8 - Koffeinhaltig
        .row
          .col-sm-12
            9 - Farbstoffe
        .row
          .col-sm-12
            10 - Antioxidationsmittel
        .row
          .col-sm-12
            11 - Fruchtsafthaltig
        .row
          .col-sm-12
            12 - Milchmix
        .row
          .col-sm-12
            13 - Kohlensäurehaltig
        .row
          .col-sm-12
            14 - Süßungsmittel
        .row
          .col-sm-12
            15 - Konservierungsstoffe
