%section.hours
%br
.row
  .col-sm-6
    %h4 Unsere Lieferzeiten:
  .col-sm-6
    %h4 Unsere Pizzeria hat geöffnet:

.row
  .col-sm-6
    täglich 18 - 22 Uhr
  .col-sm-6
    täglich 12 - 15 Uhr und 18 - 22 Uhr