%section.container#privacy
  .col-sm-offset-1.col-sm-10
    .well
      %h3
        %b Datenschutzerklärung
    %div{ class: 'modal', id: "show_postal_modal", tabindex: '-1', role:'dialog', aria: {labelledby: 'myLargeModalLabel', hidden:'true' } }
    .well
      .row
        .col-sm-12
          %b Allgemeines
          %p
            Pizza alla grande Berlino als Dienstanbieter misst dem Schutz Ihrer Privatsphäre als Nutzer unserer Angebote höchste Bedeutung zu. Dies gilt insbesondere für die Verarbeitung Ihrer personenbezogenen Daten. Für die Nutzung unserer Internetseiten ist es nicht erforderlich, dass Sie personenbezogene Daten preisgeben müssen. In bestimmten Fällen benötigen wir jedoch Ihren Name und Ihre Adresse sowie weitere Angaben, damit wir die gewünschten Dienstleistungen erbringen können. Wo dies erforderlich ist, weisen wir Sie entsprechend darauf hin. Darüber hinaus speichern und verarbeiten wir nur Daten, die Sie uns freiwillig oder automatisch zur Verfügung stellen.
          .context
            %b Erhebung und Verarbeitung personenbezogener Daten
            %p Pizza alla grande Berlino benutzt die erhobenen Daten für drei grundlegende Zwecke:
            %p
              Um Bestellungen für Angebote oder Dienste abzuwickeln,
              um Sie - mit Ihrem Einverständnis - über spezielle Angebote oder neue Produkte zu unterrichten und
              um unsere Inhalte einschließlich der Werbeangebote - mit Ihrem Einverständnis - auf Ihre persönlichen Interessen auszurichten.
          .context
            %b Datenübermittlung an Dritte
            %p
              Pizza alla grande Berlino wird in keinem Falle Ihre personenbezogenen Daten von sich aus an Dritte verkaufen oder vermieten. Wir übermitteln Ihre personenbezogenen Daten ausschließlich dann an Dritte, wenn dies zur Durchführung der Angebote oder Services, die Sie in Anspruch nehmen, notwendig ist.
          .context
            %b Cookies
            %p
              Es ist unser Grundsatz, Cookies nur dann zu verwenden, wenn diese für die Erbringung einer Dienstleistung durch uns unbedingt notwendig sind oder wenn es Ihnen die Nutzung der Website angenehmer macht, z.B. durch Anpassung der Website an Ihre individuellen Ansprüche.
          .context
            %b Personenunbezogene Daten
            %p
              Personenunbezogene und uns durch Ihren Browser automatisch zur Verfügung gestellte Daten werden zur Erstellung interner Statistiken erhoben (z.B. über die Art des verwendeten Browsers). Diese Daten sind einzelnen Benutzern nicht zuordenbar; eine Zusammenführung mit anderen Datenquellen findet nicht statt. Durch das "Do Not Track" haben Sie zudem über Ihren Browser die Möglichkeit, der Erhebung der Daten zu Statistik-Zwecken zu widersprechen. In diesem Fall findet keine Auswertung der durch Ihren Browser übermittelten Daten statt.
            %p
              Diese Website benutzt Piwik, eine Open-Source-Software zur statistischen Auswertung der Besucherzugriffe. Piwik verwendet sog. “Cookies”, Textdateien, die auf Ihrem Computer gespeichert werden und die eine Analyse der Benutzung der Website durch Sie ermöglichen. Die durch den Cookie erzeugten Informationen über Ihre Benutzung dieses Internetangebotes werden auf dem Server des Anbieters in Deutschland gespeichert. Die IP-Adresse wird sofort nach der Verarbeitung und vor deren Speicherung anonymisiert. Sie können die Installation der Cookies durch eine entsprechende Einstellung Ihrer Browser-Software verhindern; wir weisen Sie jedoch darauf hin, dass Sie in diesem Fall gegebenenfalls nicht sämtliche Funktionen dieser Website vollumfänglich nutzen können.
          .context
            %b Sicherheit
            %p
              Pizza alla grande Berlino setzt technische und organisatorische Sicherheitsmaßnahmen gem. § 9 BDSG ein, um Ihre durch uns verwalteten Daten gegen zufällige oder vorsätzliche Manipulationen, Verlust, Zerstörung oder vor dem Zugriff unberechtigter Personen zu schützen. Unsere Sicherheitsmaßnahmen werden entsprechend der technologischen Entwicklung fortlaufend verbessert. Der Zugriff darauf ist nur wenigen Befugten und zum besonderen Datenschutz verpflichteten Personen möglich, die mit der technischen, administrativen oder der redaktionellen Betreuung von Daten befasst sind.
          .context
            %b Einverständniserklärung des Nutzers
            %p
              Mit der Nutzung unserer Webseiten und den darin befindlichen Angeboten erklären Sie sich damit einverstanden, dass die von Ihnen freiwillig übermittelten persönlichen Daten von uns gespeichert und unter Beachtung dieser Datenschutzerklärung verarbeitet und benutzt werden.
          .context
            %b Auskunftsrecht / Öffentliches Verfahrensverzeichnis
            %p
              Gemäß § 34 und § 6b BDSG haben Sie das uneingeschränkte Recht auf unentgeltliche Auskunft über Ihre durch uns gespeicherten Daten sowie gemäß § 35 BDSG das Recht auf Löschung oder Sperrung unzulässiger Daten bzw. das Recht auf Berichtigung unrichtiger Daten.
            %p
              Auf Antrag sind wir gerne bereit, Ihnen auch schriftlich mitzuteilen, ob und welche persönlichen Daten wir über Sie gespeichert haben. Soweit möglich, werden wir geeigneten Maßnahmen ergreifen, um Ihre bei uns gespeicherten Daten kurzfristig zu aktualisieren oder zu berichtigen. Wenden Sie sich in diesen Fällen unmittelbar an unsere Geschäftsleitung.
          .context
            %p Zuletzt aktualisiert: 27.07.2015
