%table.table.borderless
  %thead
    %tr
      %th Nummer
      %th Name
      %th Beschreibung
  %tbody
    - category.each do |cat|
      %tr
        %td= cat.order_number
        %td= cat.name
        %td= cat.description