%table.table.borderless
  %thead
    %tr
      %th Nummer
      %th Name
      %th Beschreibung
  %tbody
    - unless category.nil?
      - category.each do |food|
        %tr
          %td= food.order_number
          %td= food.name
          %td= food.description
