- local_assigns[:label] ||= "Wann möchten Sie Ihre Lieferung #{(local_assigns[:delivery_type] || f.object.delivery_type.to_sym) == :delivery ? 'erhalten' : 'abholen'}?"
= render 'shared/delivery_hours_select', local_assigns
