%section#footer
  %section.container
    .row
      %ul.col-sm-offset-1.col-sm-10
        %li
          = link_to 'Impressum', imprint_path
        %li
          = link_to 'Datenschutzerklärung', privacy_path