/* GLOBAL */
body
{
    border-top:10px solid maroon;
    background:#eee;
    font-family: 'Nunito', sans-serif;
    color:black;
}


/* HEADER */

header
{
    position:relative;
    width:auto;
    max-width:900px;
    margin: 0 auto 20px auto;
}

header h1
{
    margin:35px 0 0 0;
    font-size:55px;
    color: maroon;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
}

header p
{
    font-family: 'Nunito', sans-serif;
    font-size:16px;
    color: black;
    margin-left:132px;
}

nav
{
    position:absolute;
    right:0;
    bottom:0;
}

nav ul
{
    list-style:none;
}

nav ul li
{
    display:block;
    float:left;
    padding:3px 15px;
}

nav ul li a
{
    font-family: 'Nunito', sans-serif;
    text-transform:uppercase;
    color: black;
    text-decoration: none;
}

nav ul li a:hover
{
    color: maroon;
}


/* MAINIMAGE */

#spacer
{
    height: 300px;
    background: #fff;
    border-bottom: 50px solid maroon;
}

/* BOXCONTENT */

#boxcontent
{
    width:auto;
    max-width:900px;
    margin-right: auto;
    margin-left:auto;
    padding:70px 0 45px 0;

}



/*OUTPUT*/
.output_table
{
    margin-top:50px;
    margin-left:auto;
    margin-right:auto;

    max-width: 680px;
    background: #FFF;
    padding: 20px 30px 20px 30px;
    font: 15px 'Nunito', sans-serif;
    color: black;
    /*text-transform: capitalize;*/
    border:1px solid maroon;
    border-radius: 5px;
}

.output_table table tr td
{
    width:100px;
}

.output_courses
{
    position:relative;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    /*margin-left:300px;*/
    max-width: 800px;
    background: #FFF;
    /*padding: 0px 30px 20px 30px;*/
    font: 18px 'Nunito', sans-serif;
    color: black;
    /*border:1px solid maroon;*/
    border-radius: 5px;
    border-top:20px solid maroon;
    
}
/*.output_courses h1 
{
    font: 25px 'Nunito', sans-serif;
    padding: 0px 0px 10px 40px;
    display: block;
    border-bottom: 1px solid maroon;
    margin: -10px -30px 30px -30px;
    color: black;
    background-color: maroon;
}*/

.output_courses table 
{
   border: 1px solid maroon; 
   border-radius: 5px;
   max-width: 800px;
}

.output_courses table th
{

    font: 25px 'Nunito', sans-serif;
    padding: 10px 10px 10px 10px;
    /*display: block;*/
    text-align: center;
    border-bottom: 1px solid maroon;
    /*margin: -10px -30px 30px -30px;*/
    color: #fff;
    background-color: maroon;
}

.output_courses table td
{
    padding: 20px;
    border: 1px solid maroon;
}




/*BIG BUTTON STYLE*/
.big_button
{
    text-align: center;
    max-width: 200px;
    margin: 0 auto;
    background: maroon;
    border: 1px solid maroon;
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
    padding: 30px 90px 30px 90px;
    color: black;
    border-radius: 4px;
}
.big_button:hover 
{
    color: #fff;
    background-color: #6b0000;
    border-color: maroon;
}





/* FOOTER */

footer
{
    position:relative;
    clear:both;
    width:auto;
    height:175px;
    background:#333333;
    margin-top:150px;
}

footer .wrapper
{
    line-height:25px;
    margin: 0 auto;
    padding-top:30px;
    width:auto;
    max-width:900px;
    font-size:14px;
}

#copyright
{
    background: #1D1D1D;
    height:70px;
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
}
#copyright .wrapper
{
    font-family: 'Nunito', sans-serif;
    padding-top:25px;
    color: #5e5e5e;
    font-size:14px;
    position:relative;
}



