@import 'variables';

#order {
  border-bottom: 1px solid $border-color;
  padding-bottom: 5rem;
  margin-top: 5rem;
}

.borderless {
  tbody tr td, 
  thead tr th {
    border: 0;
  }
}


input[type='number'] {
	width: 3rem;
}
