@import 'variables';

#order {
  margin-top: 10rem;
  padding-bottom: 5rem;
  padding-top: 3rem;
}




/*CART*/

.cart_title{
  font-weight: bold;
}

.sub_heading{
  margin-bottom: -1.5rem;
}

.cart_quantity{
  width: 2.5rem;
  height: 2rem;
  padding: 0;
}

.price_font{
  font-size: 1.3rem;
  margin-top: 1.8rem;
}

.align-field{
  margin-top: 0.8rem;
}

.align-button{
  margin-top: 0.8rem;
}

.fa-times, .fa-arrow-right{
  color: white;
}







/*ORDER CATEGORY*/

#menu_details{
  margin-top: -2rem;
}

.food_content{
  max-width: 10rem;
}

.thumbnail {
  img {
    width: auto;
    height: 100%;
  }
  overflow: hidden;
}

#order_button {
  margin-bottom: 5rem;
}

label {
  font-weight: normal !important;
}

ul.extras_list {
  list-style: none;
}

ul.extras_list li {
  display:inline-block;
  margin: -0.7rem;
  width: 18rem;
  font-size: 1.1rem;
}

.extras_message, .extras_warning {
  font-size: 1.3rem;
}

.move_to_cart, .show_extras {
  width: 100%;
}

.change_quantity {
  margin-bottom: 2rem;
  > input {
    display: inline;
    width: 31.333%;
    + input {
      margin-left: 3%;
    }
  }
}

.quantity_button{
  margin-left: 0.2rem;
  margin-right: 0.2rem;
}

.form-control{
  padding-right: 0;
}

.new_order_item h4{
  color: #C13030;
}

.display_price{
  color: black;
  font-size: 2.5rem;
}

.nav-pills > li.active > a {
  background-color: #C13030;
  font-size: 1.8rem;
}

.nav-pills > li > a {
  font-size: 1.8rem;
}

.nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  background-color: #C13030;
  font-size: 1.8rem;
}

.add_to_cart{
  width: 100%;
}




/*ADDITIVES*/

.grey{
  color: #AAA;
}



/*ORDER MODALS*/

#delivery_address {
  margin-top: 8.7rem;
}

#invoice_address {
  margin-top: 1.6rem;
}

#payment_details {
  display: none;
}

.red {
  color: #C13030;
}

.delivery_total_display{
  margin-right: 3rem;
}

#delivery_mode label{
  font-size: 1.3rem;
}

.close{
  opacity: 1;
}

.has-error {
  .form-control {
    border-color: #f00;
  }
}
