= render partial: 'shared/discount'
%section.container#order_menu
  .row
    .col-md-10.col-md-offset-1
      .well
        %h3
          %b Bestellung
      .row
        .col-md-8
          %section#menu_details
            = render partial: 'shared/order_pills'
          %div{class: 'modal', id: "show_order_modal", tabindex: '-1', role:'dialog', aria: {labelledby: 'myLargeModalLabel', hidden:'true' } }
          .well.less_margin
            = render partial: 'pages/additives'
        .col-md-4
          %section#cart
            %section.well
              %section#cart_text
                = render partial: 'order_items/cart_text', locals: { hour_type: @hour_type, delivery_values: @delivery_values }
