%section#welcome.well
  .row
    .col-sm-6
      .text-center
        %i.fa.fa-cutlery.fa-5x
      %h3.text-center
        %b Pizza alla grande Berlino
      %h4.text-center  Die größte Pizza Berlins
      %p
        Die Pizza ist das Fast-Food schlechthin und aus der europäischen Esskultur nicht mehr wegzudenken. Kaum ein anderes Gericht erfreut sich solcher Beliebtheit. Umso schöner zu wissen, dass bei Pizza alla grande Berlino die Pizza stets frisch belegt und gebacken wird.
    .col-sm-6
      .text-center
        %i.fa.fa-truck.fa-5x
      %h3.text-center
        %b Lieferservice
      %h4.text-center Damit Sie Ihre Pizza immer frisch genießen können
      %p
        Ob ein Klassiker wie Margherita oder Salami oder etwas ausgefallenes wie Pizza mit Kartoffeln und Parmesan auf Mozzarella - der Pizza alla grande Berlino Lieferservice Berlin liefert schnell und direkt zu Ihnen nach Hause. Einfach mal reinschauen und bestellen!
