%section#welcome.well
  .row
    .col-sm-6
      .text-center
        %i.fa.fa-cutlery.fa-5x
      %h3 Lorem Ipsum
      %h5
        Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt ut labore
        et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
        ut aliquid ex ea commodi consequat. Quis aute iure reprehenderit in voluptate velit esse cillum
        dolore eu fugiat nulla pariatur. Excepteur sint obcaecat cupiditat non proident, sunt in culpa
        qui officia deserunt mollit anim id est laborum.
    .col-sm-6
      .text-center
        %i.fa.fa-truck.fa-5x
      %h3 Lorem Ipsum
      %h5
        Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt ut labore
        et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
        ut aliquid ex ea commodi consequat. Quis aute iure reprehenderit in voluptate velit esse cillum
        dolore eu fugiat nulla pariatur. Excepteur sint obcaecat cupiditat non proident, sunt in culpa
        qui officia deserunt mollit anim id est laborum.
