.box
  %h1.brand-color
    %a{ href: 'https://www.pizzaallagrande.de' } Pizza alla grande Berlino
  %h2
    Nachricht von #{@name}
  %h3
    E-Mail-Adresse: #{@email}
  %hr.full.near
  %p
    #{@message}
