@import url(http://fonts.googleapis.com/css?family=Orbitron);

section{
    border: 1px solid #ccc;
    border-radius:10px;
    height: 450px;
    width: 270px;
    background:#036;
    margin: 100px auto;
}

table{
	padding: 30px;
	max-width: 270px;
	font-family: 'Orbitron', sans-serif;
}

table tr td {
	border-radius:10px;
	border: 1px solid #ccc;
	height: 30px;
	width: 30px;
	padding: 10px;
	text-align: center;
	font-family: 'Orbitron', sans-serif;
	color: #ccc;
	background: #147;
}
input[type="text"]{
	height: 30px;
	width: 205px;
	padding: 10px;
	margin: 30px 20px 10px 20px;
	font: 20px 'Orbitron' sans-serif;
	background: #147;
	border: 1px solid #ccc;
	border-radius:10px;
	color: #ccc;

}